/*首页顶部 start*/
.main_header {
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    background-color: #C8C7C7;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
/*首页顶部 end*/

/*nav start*/
.navbar {
     margin-top: 30px;
     margin-bottom: 0;
     font-size: 18px;
 }
@media (max-width: 992px){
    .navbar {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 14px;
    }
}
.navbar-nav li:hover > a {
    color: #11B1F5;
    background-color: transparent;
}
/*nav end*/

/*banner start*/
.banner {
    width: 100%;
    height: 100%;
    margin-top: 90px;
}
.banner img{
    width: 100%;
}
/*banner end*/

/*服务项目 start*/
.service{
    width: 100%;
    height:1000px;
    padding-top: 100px;
}
/*服务1*/
.serviceOne{
    width: 100%;
    height: 100%;
    background: url("../image/main_dengpao.png");
    background-size: 100%;
}
.serviceOneAll{
    width: 100%;
    height: 146px;
}
.serviceOne_son{
    padding-top: 21px;
    width: 313px;
    height: 100%;
    text-align: center;
}
.serviceOne_son p:first-child{
    font-size: 26px;
    color: #333333;
    margin-bottom: 30px;
}
.serviceOne_son p:last-child{
    font-size: 12px;
    color: #918F8F;
}
.serviceOne_son img:last-child{
    position: absolute;
    right: 40px;
    top: 21px;
}

.serviceOne_1{
    margin-bottom: 66px;
}
.serviceOne_1L{
    position: relative;
}
.serviceOne_1R{
    position: relative;
}

.serviceOne_2{
    margin-bottom: 66px;
}
.serviceOne_2L{
    position: relative;
}
.serviceOne_2R{
    position: relative;
}

.serviceOne_3L{
    position: relative;
}
.serviceOne_3R{
    position: relative;
}
/*服务项目 end*/

/*底部 start*/
.foot {
    width: 100%;
    /*height: 595px;*/
    height: 495px;
    background-color: #1D1D1D;
    padding-top: 80px;
}
.foot_center {
    width: 100%;
    /*height: 445px;*/
    height: 340px;
}
.foot_center_left {
    width: 340px;
    height: 100%;
}
.foot_center_left h4 {
    color: #575757;
    font-size: 16px;
    margin-bottom: 30px;
}
.foot_center_left p {
    font-size: 14px;
    color: #8E8E8E;
    margin-bottom: 25px;
}
.foot_center_left p span {
    margin-right: 15px;
}
.foot_center_right {
    width: 770px;
    height: 100%;
}
.foot_center_right_all {
    margin-right: 90px;
}
.foot_center_right h4 {
    font-size: 24px;
    color: white;
    margin-bottom: 30px;
}
.foot_center_right li {
    margin-bottom: 15px;
    text-align: left;
}
.foot_center_right li a {
    color: white;
    font-size: 14px;
}
.foot_center_right li a:hover {
    color: #06C494;
}
.foot_btn {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #272727;
    font-size: 16px;
    color: #666666;
}
.foot_btn a {
    color: #666666;
}
/*底部 end*/

