/*首页顶部 start*/
.main_header {
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    background-color: #C8C7C7;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
/*首页顶部 end*/

/*nav start*/
.navbar {
     margin-top: 30px;
     margin-bottom: 0;
     font-size: 18px;
 }
@media (max-width: 992px){
    .navbar {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 14px;
    }
}
.navbar-nav li:hover > a {
    color: #11B1F5;
    background-color: transparent;
}
/*nav end*/

/*banner start*/
.banner {
    width: 100%;
    height: 100%;
    margin-top: 90px;
}
.banner img{
    width: 100%;
}
/*banner end*/

/*服务项目 start*/
.service{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    margin-bottom: 177px;
}
/*服务1*/
.serviceOne{
    width: 100%;
    height: 100%;
    background: url("../image/main_dengpao.png");
    background-size: 100%;
    margin-bottom: 180px;
}
.serviceOneAll{
    width: 100%;
    height: 146px;
}
.serviceOne_son{
    padding-top: 21px;
    width: 313px;
    height: 100%;
    text-align: center;
}
.serviceOne_son p:first-child{
    font-size: 26px;
    color: #333333;
    margin-bottom: 30px;
}
.serviceOne_son p:last-child{
    font-size: 12px;
    color: #918F8F;
}
.serviceOne_son img:last-child{
    position: absolute;
    right: 40px;
    top: 21px;
}

.serviceOne_1{
    margin-bottom: 66px;
}
.serviceOne_1L{
    position: relative;
}
.serviceOne_1R{
    position: relative;
}

.serviceOne_2{
    margin-bottom: 66px;
}
.serviceOne_2L{
    position: relative;
}
.serviceOne_2R{
    position: relative;
}

.serviceOne_3L{
    position: relative;
}
.serviceOne_3R{
    position: relative;
}

/*服务2*/
.serviceTwo{
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}
.serviceTwo ul{
    display: inline-block;
    text-align: center;
}
.serviceTwo ul li{
    float: left;
    width: 400px;
    height: 360px;
}
.serviceTwo ul img{
    margin-bottom: 32px;
}
.serviceTwoAll{
    width: 100%;
    height: 175px;
    position: relative;
    line-height: 25px;
}
.serviceTwo ul .serviceTwo_title{
    font-size: 18px;
    color: #333333;
    margin-bottom: 36px;
}
.serviceTwo ul .serviceTwo_content{
    font-size: 12px;
    color: #999;
}
.serviceTwo ul .serviceTwo_link{
    font-size: 12px;
    color: #999;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.serviceTwo ul .serviceTwo_tel{
    font-size: 12px;
    color: #999;
}
.serviceTwo ul .serviceTwo_chuanzhen{
    font-size: 12px;
    color: #999;
}

/*服务3*/
.serviceThree{
    width: 100%;
    height: 100%;
}
.serviceThree ul{
     display: inline-block;
    text-align: center;
 }
.serviceThree ul li{
    float: left;
}
.serviceThree .serviceThreeAll{
    height: 155px;
    position: relative;
}
.serviceThree .serviceThreeAll .serviceThree_small{
    display: inline-block;
    width: 30px;
    height: 4px;
    background-color: #767779;
    position: absolute;
    left: 0;
    right:0;
    top: 44px;
    margin: 0 auto;
}
.serviceThree .serviceThreeAll .serviceThree_content{
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 26px;
    font-size: 18px;
    color: #333333;
}
.serviceThree .serviceThreeAll .serviceThree_content p:last-child{
    font-size: 12px;
    color: #999;
}
/*服务项目 end*/

/*关于我们 start*/
.about{
    width: 100%;
    height: 100%;
    margin-bottom: 167px;
}
.about_top{
    height: 160px;
    font-size: 16px;
    color: #BFBFBF;
    text-align: center;
    margin-bottom: 83px;
}
.about_top a{
    display: inline-block;
    width: 199px;
    height: 57px;
    line-height: 57px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #11B1F5;
    color: white;
    margin-top: 54px;

}
.about_center{
    width: 100%;
    height: 230px;
}
.about_center ul{
    display: inline-block;
    text-align: center;
}
.about_center ul li{
    width: 400px;
    height: 100%;
    float: left;
}
.about_center p{
    font-size: 20px;
    color: #999999;
    margin-top: 50px;
}
/*关于我们 end*/

/*荣誉专利 start*/
.patent{
    width: 100%;
    height: 100%;
}
.patentAll{
    width: 100%;
    height: 500px;
    margin-bottom: 188px;
}
.patentAll_left{
    width: 905px;
    height: 100%;
    background-color: whitesmoke;
}
.patentAll_left ul{
    display: inline-block;
    text-align: center;
}
.patentAll_left ul li{
    float: left;
}
.patentAll_left ul li+li{
    margin-left:18px;
}
.patentAll_right{
    width: 280px;
    height: 100%;
    background-color: #11B1F5;
    padding-top: 40px;
    padding-left: 20px;
    color: white;
    position: relative;
}
.patentAll_right_title{
    font-size: 18px;
    margin-bottom: 48px;
}
.patentAll_right ul li{
    line-height: 30px;
    color: #BCE9FD;
    font-size: 12px;
}
.patentAll_right ul li:hover{
    font-size: 14px;
    color: white;
}
.patentAll_right img{
    position: absolute;
    left: 20px;
    bottom: 30px;
}
.patentBtn{
    width: 100%;
    height: 102px;
    line-height: 102px;
    margin-bottom: 66px;
}
.patentBtn ul{
    display: inline-block;
    text-align: center;
}
.patentBtn ul li{
    float: left;
}
.patentBtn ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.patentBtn ul li+li{
    margin-left: 285px;
}
/*荣誉专利 end*/

/*底部 start*/
.foot {
    width: 100%;
    height: 400px;
    background: url(../image/main_btn.png)no-repeat;
    background-size: 100%;
    padding-top: 95px;
    position: relative;
}
.foot_center {
    width: 100%;
}
.foot_center_left {
    width: 335px;
    height: 100%;
}
.foot_center_left h4 {
    color: #666666;
    font-size: 16px;
    margin-bottom: 30px;
}
.foot_center_left p {
    font-size: 14px;
    color: #666666;
    margin-bottom: 25px;
}
.foot_center_left p span {
    margin-right: 15px;
}
.foot_center_right {
    height: 100%;
}
.foot_center_right_all {
    margin-left: 110px;
}
.foot_center_right h4 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 30px;
}
.foot_center_right li {
    margin-bottom: 15px;
    text-align: left;
}
.foot_center_right li a {
    color: #333333;
    font-size: 14px;
}
.foot_center_right li a:hover {
    color: #11B1F5;
}
.foot_btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 53px;
    line-height: 53px;
    background: url("../image/main_btn_bt.png");
    background-size: 100% ;
    color: #666;
    font-size: 12px;
}
.foot_btn a{
    color: #666;
}
/*底部 end*/

